<html>
    <head>
        <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }
                th, td {
                    padding: 15px;
                }
        </style>
        <title>Trajectory Viewer</title>
    </head>
    <body>
        <h1>Dataset Visualizer </h1>
        <table>
            <tr>
                {% for name in filter_names %}
                    <th> {{ name }} </th>
                {% endfor %}
            </tr>
            <tr>
                {% for f in filters %}
                    <td>
                        {% for traj in f %}
                            <a href="{{ traj.url }}"> {{ traj.text }} </a>
                            <br>
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>